{% extends 'layouts/email.html.twig' %}

{% block body %}
    <div class="content">
        <h4>Hello, In order to set new password</h4>
        <p>Reffer, go to: <a href="{{ url('auth_forget_password', {'id': id, 'token': token}) }}">Set new password</a></p>
    </div>
{% endblock %}