{% extends 'layouts/base.html.twig' %}

{% block title %}Region edit{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('data_region_index') }}">Regions</a></li>
        <li class="breadcrumb-item"><a href="{{ path('data_region_show', {id: region.id}) }}">Region detail</a></li>
        <li class="breadcrumb-item active">Region edit</li>
    </ol>
{% endblock %}

{% block body %}
    <h1>Region edit</h1>
    {{ include('admin/data/region/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
