<div class="row">
    <div class="col-lg-4  offset-lg-1">
        <app-left-main></app-left-main>
    </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-10">
                <div *ngIf="apiMessage != ''" class="alert alert-{{ apiColor }} alert-dismissible fade show" role="alert">
                    {{ apiMessage }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="forget-password" *ngIf="isCorrectData == true">
                            <h3 class="text-center">Set new Password</h3>
                            <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
                                <div class="form-group">
                                    <label for="register_password">Password</label>
                                    <input type="password" class="form-control" name="password" formControlName="password" id="register_password" placeholder="Password">
                                    <span class="form-help-text" *ngIf="newPasswordForm.get('password').invalid && newPasswordForm.get('password').dirty">
                                        <span *ngIf="newPasswordForm.get('password')['errors']['required']">Field can`t be empty.</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Password Repeat</label>
                                    <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword" placeholder="Password">
                                    <span class="form-help-text" *ngIf="newPasswordForm.hasError('notSame') && newPasswordForm.get('confirmPassword').dirty">
                                        <span *ngIf="newPasswordForm.hasError('notSame')">Passwords don`t match.</span>
                                    </span>
                                </div>
                                <button type="submit" [disabled]="newPasswordForm.invalid" class="btn btn-outline-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>