<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="forget-password" *ngIf="isCorrectData == true; else incorrectData">
                    <h3 class="text-center">Set new Password</h3>
                    <div *ngIf="apiMessage != ''" class="alert alert-{{ apiColor }} alert-dismissible fade show" role="alert">
                        {{ apiMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
                        <div class="form-group">
                            <label for="register_password">Password</label>
                            <input type="password" class="form-control" name="password" formControlName="password" id="register_password" placeholder="Password">
                            <span class="form-help-text" *ngIf="newPasswordForm.get('password').invalid && newPasswordForm.get('password').dirty">
                                <span *ngIf="newPasswordForm.get('password')['errors']['required']">Field can`t be empty.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Password Repeat</label>
                            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword" placeholder="Password">
                            <span class="form-help-text" *ngIf="newPasswordForm.hasError('notSame') && newPasswordForm.get('confirmPassword').dirty">
                                <span *ngIf="newPasswordForm.hasError('notSame')">Passwords don`t match.</span>
                            </span>
                        </div>
                        <button type="submit" [disabled]="newPasswordForm.invalid" class="btn btn-outline-success">Submit</button>
                    </form>
                </div>
                <ng-template #incorrectData>
                    <div *ngIf="apiMessage != ''" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ apiMessage }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>