<h3 class="text-center">Create Profile</h3>

<div *ngIf="messageService.apiMessage != '' && messageService.apiColor == 'danger'" class="alert alert-{{ messageService.apiColor }}" role="alert">
    {{ messageService.apiMessage }}
</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="register_password">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" id="register_password" placeholder="Password">
        <span class="form-help-text" *ngIf="changePasswordForm.get('password').invalid && changePasswordForm.get('password').dirty">
            <span *ngIf="changePasswordForm.get('password')['errors']['required']">Field can`t be empty.</span>
        </span>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Password Repeat</label>
        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword" placeholder="Password">
        <span class="form-help-text" *ngIf="changePasswordForm.hasError('notSame') && changePasswordForm.get('confirmPassword').dirty">
            <span *ngIf="changePasswordForm.hasError('notSame')">Passwords don`t match.</span>
        </span>
    </div>
    <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-outline-success">Submit</button>
</form>